# ============================================
# APPLICATION URLS
# ============================================

BETTER_AUTH_URL=http://localhost:3000
NEXORA_PUBLIC_URL=http://localhost:3000
NEXORA_CONSOLE_URL=http://localhost:3001

# ============================================
# DATABASE
# ============================================

DATABASE_URL="postgres://b718e94b0340914ff75822cea8c8a918606a8a4937e8333410a416d5f16c95d5:sk_Hml5CiUejGSDwYqVfoNqJ@45.76.147.142:5432/postgres?sslmode=require"

# ============================================
# BETTER AUTH
# ============================================

BETTER_AUTH_SECRET="ueOqtEJJ1cllh/v1YmKvJS0JuXsQOPOJnth9EHMUXTGtQHU5rtxtfqtgEQGtGdxa"

# ============================================
# INITIAL ADMIN
# ============================================

NEXORA_ADMIN_NAME=Nexora Admin
NEXORA_ADMIN_EMAIL=admin@example.com
NEXORA_ADMIN_PASSWORD=Mautauajah31

# ============================================
# REMOTE MEDIA INSPECTION
# ============================================

SHORTLINK_MEDIA_MAX_BYTES=262144000
SHORTLINK_MEDIA_TIMEOUT_MS=30000

# ============================================
# EMAIL / INVITATIONS
# ============================================

RESEND_API_KEY=your-resend-api-key
NEXORA_EMAIL_FROM="Nexora <onboarding@resend.dev>"

# ============================================
# X OAUTH 1.0A
# ============================================

X_CONSUMER_KEY=dQr6sfwPvTFEVGU5EeFXns83V
X_CONSUMER_SECRET=WZc6ts5jhCXt0NqKkdpRmv7JpGZPO16FktgeaDxAaPBbIweBOe
X_ACCESS_TOKEN="2092290487722074112-ydikSHYpzfGtzEv0oG3g6AX2khMF2u"
X_ACCESS_TOKEN_SECRET="1AF5HISEiALrM6Rl6P0iTtkL2uSNxLU06lSESzAtptOrI"
X_CALLBACK_URL=http://127.0.0.1:3000/api/x/oauth/callback
X_CREDENTIAL_ENCRYPTION_KEY=2dYcs6crmDMZOH4h7ABf1y2mtGUre6XDpbcFJYXTk3U0

# ============================================
# X OAUTH 2.0
# ============================================

X_CLIENT_ID="a21WM2dTQmJ2WXh3ZnFpUWR1S0s6MTpjaQ"
X_CLIENT_SECRET="V2rf99MDPn5mw_-8tHnUb7Y2QiisOe9OHXlmCIhelK8msnZSFa"
X_MEDIA_OAUTH2_ACCESS_TOKEN="WXFjMlREZzA0T3JEZU9ZRE1KeWJDVlZKUUstbFBpcHN4YzMyTklwZXA3TGFEOjE3ODgxODM0MDIzNTU6MTowOmF0OjE"
X_MEDIA_OAUTH2_REFRESH_TOKEN="RWJ1dzNzU0tPYjRhdlZnREFJMVRlOExyMVZVSVlJZm9SUkVHcmQ2NmFkNWNEOjE3ODgxODM0MDIzNTU6MToxOnJ0OjE"
BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAAGH5%2FAEAAAAAObXZHefrjgwMivRxDe30V%2F4fCpg%3Dj5tJjTPsJ4HcBv7GpX2gwJjdny3V4v0jyWuPba1xycfWYFGZFo



